* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    background-color: #fafafa;
  }
  
  
  header {
    height: 60px;
    width: 100%;
    padding: 0px 15px;
    background-color: #646363;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
  }
  
  li {
    list-style: none;
  }
  
  .logo {
    font-size: 25px;
  }
  
  nav {
    margin: 0 0 0 auto;
  }
  
  .loginname {
    margin-top: 18px;
    margin-right: 15px;
  }
  
  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  p {
    color: #000000;
  }
  
  a {
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    line-height: 60px;
    padding: 0 20px;
    position: relative;
  }
  
  li ::after {
    position: absolute; 
    bottom: 10px; 
    left: 0;
    content: ''; 
    width: 100%; 
    height: 2px; 
    background: #000000; 
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform 0.75s;
  }
  
  li :hover::after {
    transform: scale(1, 1); 
  }
  
  main {
    margin-top: 132px;
  }
  
.Inner {
      margin-top: 100px;
      margin-left: auto;
      margin-right: auto;
      max-width: 1200px;
      }
  
      p{
      margin: 0;
      padding: 0;
      }
  
      li{
      list-style: none;
      }
  
      .Inner-Headline {
      font-weight: bold;
      font-size: 32px;
      }
  
      @media screen and (max-width: 480px) {
      .Inner-Headline {
      font-size: 24px;
      }
      }
  
      .Inner-Text {
      letter-spacing: 0.05em;
      line-height: 1.8;
      font-size: 15px;
      }
  
      .Inner-Text.first {
      margin-top: 36px;
      }
  
      .Inner-Box {
      margin-top: 16px;
      }
  
      .Inner-Box-Headline {
      font-weight: bold;
      font-size: 28px;
      }
  
      @media screen and (max-width: 480px) {
      .Inner-Box-Headline {
      font-size: 20px;
      }
      }
  
      .Inner-Box-List {
      margin: 20px 0 0 40px;
      }
  
      .Inner-Box-List-Item {
      margin-top: 10px;
      letter-spacing: 0.05em;
      line-height: 1.8;
      list-style-type: decimal;
      }
  
      .Inner-Box-List-Item-Ol {
      margin: 20px 0 0 40px;
      }
  
      .Inner-Box-List-Item-Ol-Item {
      margin-top: 10px;
      letter-spacing: 0.05em;
      line-height: 1.8;
      list-style-type: decimal;
      }
  
      .Inner-Box-List-Item-Link {
      text-decoration: underline;
      display: inline-block;
      color: red;
      }
      
      .Inner-Box-Item {
      letter-spacing: 0.05em;
      line-height: 1.8;
      font-size: 15px;
      }
  
      @media screen and (max-width: 480px) {
      .Inner-Box-Item {
      letter-spacing: inherit;
      font-size: 14px;
      }
}
  
  
.FooterSection {
    margin-top: 152px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #383257;
}
    
.Footer-Inner {
      margin-left: auto;
      margin-right: auto;
      max-width: 1200px;
      width: 100%;
}
      
.Footer-Inner-List {
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      max-width: 600px;
      display: flex;
      justify-content: space-between;
}
    
@media screen and (max-width: 540px) {
      .Footer-Inner-List {
      flex-wrap: wrap;
      justify-content: center;
      }
}
    
.Footer-Inner-List-Item {
      margin-right: 24px;
      padding-left: 81px;
      text-align: center;
      color: rgb(255, 255, 255);
      font-weight: bold;
      font-size: 15px;
}
    
@media screen and (max-width: 540px) {
      .Footer-Inner-List-Item {
      margin-right: 0;
      padding-left: 0;
      width: 100%;
      }
}
    
.Footer-Inner-List-Item:not(:first-child) {
      border-left: 1px solid #fff;
      padding-left: 41px;
}
    
@media screen and (max-width: 540px) {
      .Footer-Inner-List-Item:not(:first-child) {
      border-left: none;
      margin-top: 20px;
      }
}
    
.Footer-Inner-CopyRight {
      margin-top: 20px;
      text-align: center;
      padding-right: 8px;
      color: #fff;
      font-size: 16px;
}